:root {
    --accent-color: #404bbf;
    --secondary-accent-color: #4d5ae5;
    --cloud-color: #f4f4fd;
    --color-white: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #ffffff;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.link {
    text-decoration: none;
}
.list {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu-link {
    display: block;
    padding: 24px 0;
}

.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: var(--secondary-accent-color);
    margin-right: 76px;
}

.logo-part {
    color: #2e2f42;
}

.menu-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-first-link {
    position: relative;
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-first-link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    width: 48px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.address-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus,
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.order-section {
    background-color: #2e2f42;
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url(../images/office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 188px 0;
    max-width: 1440px;
}

.order-section-heading {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    display: block;
    max-width: 496px;
    margin: 0 auto;
}

.order-section-button {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--secondary-accent-color);
    min-width: 169px;
    margin: 48px auto 0;
    padding: 16px 32px;
    display: block;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-section-button:hover,
.order-section-button:focus {
    background-color: var(--accent-color);
}

.values-list {
    display: flex;
    gap: 24px;
}

.values-item {
    width: calc((100% - 3 * 24px) / 4);
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
}
.values-item-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.values-item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-heading {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-section {
    background-color: #f4f4fd;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-card {
    background-color: #ffffff;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.about-worker {
    padding: 32px 0;
}

.team-card-heading {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-card-text,
.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-card-text {
    text-align: center;
    margin-bottom: 8px;
}

.social-links-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-links-item {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links-container {
    margin: 8px 0 32px;
}

.social-list-icon {
    fill: var(--cloud-color);
}

.social-links-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-accent-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-link:hover,
.social-links-link:focus {
    background-color: #404bbf;
}

.about-project {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-card {
    width: calc((100% - 24px * 2) / 3);
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image-container {
    position: relative;
    overflow: hidden;
}

.portfolio-image-description {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .portfolio-image-description {
    transform: translateY(0);
}

.portfolio-card-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-content {
    margin-right: 120px;
}

.footer-social-links-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin-bottom: 16px;
}

.footer-social-links-list {
    display: flex;
    gap: 16px;
}

.footer-text {
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-logo-part {
    color: #f4f4fd;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0;
    margin-bottom: 16px;
}

.footer-social-links-list .social-links-item .social-links-link:hover,
.footer-social-links-list .social-links-item .social-links-link:focus {
    background-color: #31d0aa;
}
